/*---------------------------------------------------------------------------------------------
*
*	Field: External Relationship
*
*---------------------------------------------------------------------------------------------*/

.acf_external_relationship {
	position: relative;
	overflow: hidden;
}

.acf_external_relationship .relationship_left {
	width: 50%;
	float: left;
}

.acf_external_relationship .relationship_right {
	width: 50%;
	float: left;
}

.acf_external_relationship .relationship_label {
	font-size: 12px;
	font-family: sans-serif;
	color: #999;
	position: absolute;
	margin-top: 5px;
	margin-left: 10px;
}

.acf_external_relationship .widefat {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.acf_external_relationship .widefat th {
	border-bottom: 0 none;
}


.acf_external_relationship .relationship_search {
	margin: 0;
	font-size: 12px;
	line-height: 13px;
	border-radius: 13px;
	font-family: sans-serif;
	padding: 5px 9px !important;
}

.acf_external_relationship .relationship_list {
	background: #fff;
	position: relative;
	overflow: auto;
	height: 150px;
	border: #DFDFDF solid 1px;
	border-top-width: 0;
}

.acf_external_relationship .relationship_list li.hide {
	background: #f8f8f8;
}

.acf_external_relationship .relationship_list li.hide a {
	cursor: default;
	color: #21759B !important;
	opacity: 0.5;
	background: transparent !important;
}

.acf_external_relationship .relationship_list li {
	border-bottom: #f8f8f8 solid 1px;
}

.acf_external_relationship .relationship_list li a {
	display: block;
	position: relative;
	padding: 7px 9px;
	text-decoration: none;
}
.acf_external_relationship .relationship_list li.no-results span {
	display: block;
	padding: 7px 9px;
	color:#ccc;
	font-style:italic;
}

.acf_external_relationship .relationship_list li a .relationship-item-info {
	color: #CCC;
	text-transform: uppercase;
	float: right;
	font-size: 11px;
}

.acf_external_relationship .relationship_list li:hover a .relationship-item-info {
	padding-right: 24px;
	color: #999;
}

.acf_external_relationship .relationship_list li.hide:hover a .relationship-item-info {
	padding-right: 0;
	color: #CCC;
}

.acf_external_relationship .relationship_list li a:hover,
.acf_external_relationship .relationship_list li a:focus {
	background: #eaf2fa;
	color: #000;
	box-shadow: #d6e1ec 0 0 0 1px;
}

.acf_external_relationship .relationship_right .relationship_list {
	margin-left: 10px;
	height: 193px;
	border-top-width:1px; 
}

.acf_external_relationship .relationship_list li a .acf-button-add,
.acf_external_relationship .relationship_list li a .acf-button-remove {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
	
	cursor: pointer;
}

.acf_external_relationship .relationship_list li a:hover .acf-button-add,
.acf_external_relationship .relationship_list li a:hover .acf-button-remove {
	display: block;
}

.acf_external_relationship .relationship_list li.hide a:hover .acf-button-add {
	display: none;
}


.acf_external_relationship .relationship_right .relationship_list li a {
	cursor: move;
}

.acf_external_relationship .load-more .acf-loading {
	padding: 0;
	box-shadow: none;
	background-color: transparent;
}

.acf_external_relationship.no-results .load-more {
	display: none;
}
